<div class="bg-light lter b-b wrapper-md detail table-header">
    <h1 class="m-n font-thin h3" translate="nav.labitem_manage"></h1>
</div>
<div class="wrapper-md">
    <div class="panel panel-default">
        <div class="panel-heading font-bold" translate="nav.labitem_manage">
        </div>
        <div class="panel-body">
            <form name="form" class="form-horizontal form-validation">
                <div class="form-group select-group">
                    <label class="col-sm-2 control-label">检验类别</label>
                    <div class="col-md-4">
                        <ui-select ng-model="model.selectedlabItem" 
                                   theme="bootstrap" 
                                   ng-disabled="false" 
                                   search-enabled="false">
                            <ui-select-match>{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices group-by="'group'" repeat="item in itemList | filter: $select.search">
                                <span ng-bind-html="item.name | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">代码</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" ng-model="model.normalUp" ng-pattern="/^[a-zA-Z0-9]{4,10}$/" required>
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">项目名称</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">检验分类</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">结果类型</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">单位</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">变化率</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">默认值</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">标准输入码1</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">标准输入码2</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">备注</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">精度</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">项目金额</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">临床意义</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">描述</label>
                    <div class="col-md-4">
                        <textarea class="form-control" rows="6"></textarea>
                    </div>
                </div>

                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <button class="btn btn-primary" translate="button.save" ng-click="submit()" ng-disabled="form.$invalid"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>