
.fann-lis .detail.table-header{
    display: none;
}

.fann-lis .right{
    float: right;
}

/*ui grid start*/
.fann-lis .ui-grid-cell .editTpl{
    color: #2a6496;
    margin-top: 5px;
    margin-left: 7px;
    display: inline-block;
}

.fann-lis .list-con{
    padding: 0px;
}

.fann-lis .list-sty {
    width: 100%;
}

.fann-lis .btn.grid-btn{
    margin: 2px;
    padding: 3px;
}

.fann-lis .btn.grid-btn.left-space{
    margin-left: 16px;
}
/*ui grid end*/

/*grid filter*/
.fann-lis .form-inline-group{
    display: inline;
    margin-left: 40px;
}

.fann-lis .dash{
    margin: 0 5px 0 5px;
}

.fann-lis .grid-search{
    margin-left: 20px;
}

/*form start*/
.fann-lis .form-group.select-group{
    height: 34px;
}
/*form end*/