
.fann-lis .detail.table-header{
    display: none;
}

.fann-lis .right{
    float: right;
}

/*ui grid start*/
.fann-lis .ui-grid-cell .edit-tpl,.fann-lis .ui-grid-cell .delete-tpl{
    color: #2a6496;
    margin-top: 5px;
    margin-left: 12px;
    display: inline-block;
}

.fann-lis .list-con{
    padding: 0px;
}

.fann-lis .list-sty {
    width: 100%;
}

.fann-lis .btn.grid-btn{
    margin: 2px;
    padding: 3px;
}

.fann-lis .btn.grid-btn.left-space{
    margin-left: 16px;
}


/*grid filter*/
.fann-lis .form-inline-group{
    display: inline;
    margin-left: 40px;
}

.fann-lis .dash{
    margin: 0 5px 0 5px;
}

.fann-lis .grid-search{
    margin-left: 20px;
}

/*form start*/
.fann-lis .form-group.select-group{
    height: 34px;
}


/*dialog*/
.common-dialog{
    padding: 20px;
}

.common-dialog .label-item{
    margin: 6px 3px 0 0;
    padding: 5px;
    background-color: #F3F3F3;
    display: inline-block;
}

/*nav*/
.fann-lis .navbar-header .navbar-title{
    height: 50px;
    width: 200px;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    padding: 8px;
    background-color: #4c637b;
}

.fann-lis .navi-pos{
    margin-top: 25px;
}

.fann-lis .navbar-right.navbar-rightspace{
    margin-right: 20px;
}

.fann-lis .navbar-subtitle{
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin: 12px 0 0 10px;
}